<mat-toolbar class="mat-toolbar">
  <nav>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Current temperature</a>
    <a mat-button routerLink="/temperatureHistory" routerLinkActive="active">Temperature history</a>
  </nav>
  <div class="buttons-right">
    <button routerLink="/account/login" mat-stroked-button>Login</button>
    <button routerLink="/account/register" mat-stroked-button>Register</button>
    <button (click)="logout()" mat-stroked-button>Logout</button>
  </div>
</mat-toolbar>
