<mat-toolbar class="mat-toolbar">
  <nav>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
  </nav>
  <div class="buttons-right">
    <button routerLink="/account/login" mat-stroked-button>Login</button>
    <button routerLink="/account/register" mat-stroked-button>Register</button>
    <button (click)="logout()" mat-stroked-button>Logout</button>
  </div>
</mat-toolbar>
