.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: lightslategray;
}

.buttons-right{
  display: flex;
  gap: 10px;
}

a {
  &.active {
    color: white;
  }
}
